@import url(fonts/fonts.css);

:root {
  --serif:
      vollkorn,
      canela text, Source Serif Pro, Palatino, serif;
  --sans: system-ui, segoe ui, roboto, sans-serif;
  --title: Shrikhand, var(--serif);
  --grad: linear-gradient(to top right, cyan, dodgerblue);
  --bg: hsl(40deg  10%  11%);
  --fg: hsl(none  none  85%);
  color: var(--fg);
  background: var(--bg);
  font-family: var(--sans);
  padding: 1rem;
}

header img#me {
  background: var(--grad) border-box;
  border: solid 1.5px transparent;
  border-radius: 50%;
  /*clip-path: circle(50%);*/
}

a { color: inherit; }

h1 {
  font-family: var(--serif);
  font-weight: 800;
}

svg.feather {
  width: 1.2em;
  height: 1.2em;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}
